{% if share_shifted %}
<div class="inline-btn-shifted">
{% else %}
<div class="inline-btn">
{% endif %}
	<a class="btn-social x-twitter" href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i> {{ site.data.messages.locales[site.locale].share }} X</a>
	<a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa-brands fa-facebook" aria-hidden="true"></i> {{ site.data.messages.locales[site.locale].share }} Facebook</a>
</div><!-- /.share-this -->
